<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShala Blog Competition | Login</title>
    <link rel="stylesheet" href="article.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<body>
    <div id="maxwidthlimiter">
        <nav>
            <img src="/assets/tslogo.png" alt="">
            <div class="links">
                <a href="/index" class="">Home</a>
                <span class="link-divider">/</span>
                <a href="/register" class="" id="register">Register</a>
                <a href="/dashboard" class="" id="dashboard">Dashboard</a>
                <span class="link-divider">/</span>
                <a href="/login" class="" id="login">Login</a>
                <a href="#" class="" onclick="logout()" id="logout">Logout</a>
            </div>
            <img src="/assets/vplogo.jpg" alt="">
        </nav>

        <div id="main">
            <h1 id="title"></h1>
            <h2 id="subtitle"></h2>
            <div id="authorncatwrapper">
                <span id="category"></span>
                <span id="author">Author: <name></name> from <class></class></span>
            </div>
            <img src="" id="thumbnail" alt="">
            <div id="content"></div>
            <div id="conclusion">
                <h3>Conclusion:</h3>
                <p></p>
            </div>
            <div id="tags">Tags:
            </div>
        </div>
            
    </div>
    
</body>
<footer>
    <script src="article.js"></script>
</footer>
</html>