<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShala Blog Competition | Review Blogs</title>
    <link rel="stylesheet" href="reviewblog.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<body>
    <div id="maxwidthlimiter">

        <div id="main">
            <div id="my-blogs">
                <div id="blogs">
                    
                </div>
            </div>
        </div>
            
    </div>
    
</body>
<footer>
    <script src="reviewblog.js"></script>
</footer>
</html>